<section class="py-10 px-20 max-w-7xl mx-auto">
  <div class="grid grid-cols-2 gap-10">
    <div class="w-50">
      <img src="./chilean.jpg" alt="" class="border rounded-2xl" />
    </div>
    <div class="flex flex-col justify-start gap-4">
      <h2 class="text-red-600 text-4xl font-semibold">Kawa-safita</h2>
      <h1 class="text-black text-5xl">Bienvenidos</h1>
      <p>
        Discover the charm of Bistro, an authentic English restaurant offering a taste of Ireland in every bite. Indulge in traditional English
        cuisine crafted with care, complemented by warm hospitality and a cozy ambiance. From hearty stews to savory pies, experience the flavors of
        English at Bistro
      </p>
      <a href="#contacto" class="w-fit text-white font-medium border bg-red-600 p-2 rounded-full hover:bg-red-800">Aqui estamos --></a>
    </div>
  </div>
</section>
