<section class="py-10 px-20 max-w-7xl mx-auto">
  <div class="flex flex-col sm:grid sm:grid-cols-2 gap-10">
    <div class="w-50">
      <img src="./chilean.jpg" alt="" class="border rounded-2xl" />
    </div>
    <div class="flex flex-col justify-start gap-4">
      <h2 class="text-red-600 text-4xl font-semibold">Kawa-safita</h2>
      <h1 class="text-black text-5xl">Bienvenidos</h1>
      <p class="text-gray-600 text-lg font-normal">
        Descubre el encanto de Safita, un auténtico restaurante Nortino que te invita a disfrutar el sabor en cada bocado. Déjate sorprender por la
        cocina tradicional, preparada con esmero y acompañada de una cálida hospitalidad en un ambiente acogedor. Vive una experiencia gastronómica
        única en el norte de Chile con Safita. ¡Te esperamos!
      </p>
      <a href="#contacto" class="w-fit text-white font-medium border bg-red-600 p-3 rounded-full hover:bg-red-800">Aqui estamos --></a>
    </div>
  </div>
</section>
