<section id="empresas" class="py-10 px-20 w-full mx-auto bg-orange-300">
  <div class="flex flex-col sm:grid sm:grid-cols-2 gap-5 max-w-7xl mx-auto">
    <!-- Texto -->
    <div class="flex flex-col gap-4">
      <h1
        class="text-red-600 text-3xl sm:text-4xl font-bold text-center sm:text-left"
      >
        Empresas y Eventos
      </h1>
      <p class="text-gray-600 text-lg font-normal text-center sm:text-left">
        El restaurante Safita, ubicado en la comuna de Mejillones, en la Región
        de Antofagasta, ofrece un servicio exclusivo de atención a empresas y
        eventos, garantizando una experiencia gastronómica de primer nivel.
        Comprendemos la importancia de brindar un servicio eficiente y
        personalizado, adaptado a las necesidades de cada cliente. Desde
        reuniones corporativas hasta celebraciones especiales, nuestro equipo se
        encarga de cada detalle para asegurar una atención impecable, con menús
        cuidadosamente diseñados que combinan sabores únicos y productos de alta
        calidad.
      </p>

      <!-- Botón alineado a la derecha -->
      <div class="flex justify-center sm:justify-end"></div>
    </div>

    <!-- Imágenes alineadas -->
    <div class="hidden sm:grid sm:grid-cols-2 sm:row-span-2 gap-2">
      <img
        src="/Cafe.webp"
        alt="Café"
        class="w-full h-40 object-cover border rounded-md"
      />
      <img
        src="/empresa002.webp"
        alt="Desayuno"
        class="w-full h-40 object-cover border rounded-md"
      />
      <img
        src="/empresa001.webp"
        alt="Desayuno"
        class="w-full h-40 object-cover border rounded-md"
      />
      <img
        src="/Desayuno.webp"
        alt="Desayuno"
        class="w-full h-40 object-cover border rounded-md"
      />
    </div>
  </div>
</section>
