<section id="empresas" class="py-10 px-20 w-full mx-auto bg-orange-300">
  <div class="grid grid-cols-2 gap-5 max-w-7xl mx-auto">
    <!-- Texto -->
    <div class="flex flex-col gap-4">
      <h1 class="text-red-600 text-4xl font-bold">Empresas y eventos</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laboriosam
        mollitia ducimus iste laudantium debitis, assumenda iusto, molestiae
        impedit optio, voluptates rem maxime inventore voluptatum. Dolor
        necessitatibus perferendis excepturi iste.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laboriosam
        mollitia ducimus iste laudantium debitis, assumenda iusto, molestiae
        impedit optio, voluptates rem maxime inventore voluptatum. Dolor
        necessitatibus perferendis excepturi iste.
      </p>
      <!-- Botón alineado a la derecha -->
      <div class="flex justify-end">
        <a
          href="#contacto"
          class="text-white font-medium border bg-red-600 p-3 rounded-full hover:bg-red-800"
          >Contáctanos</a
        >
      </div>
    </div>

    <!-- Imágenes alineadas -->
    <div class="grid grid-cols-2 row-span-2 gap-2">
      <img
        src="/Cafe.webp"
        alt="Café"
        class="w-full h-40 object-cover border rounded-md"
      />
      <img
        src="/Desayuno.webp"
        alt="Desayuno"
        class="w-full h-40 object-cover border rounded-md"
      />
      <img
        src="/Desayuno.webp"
        alt="Desayuno"
        class="w-full h-40 object-cover border rounded-md"
      />
      <img
        src="/Desayuno.webp"
        alt="Desayuno"
        class="w-full h-40 object-cover border rounded-md"
      />
    </div>
  </div>
</section>
