<footer class="bg-red-600 text-white text-center p-4">
  <div class="grid grid-cols-3 gap-4">
    <div>
      <h1>LOGO</h1>
      <ul>
        <li>Direccion</li>
        <li>Direccion</li>
        <li>Direccion</li>
      </ul>
    </div>

    <div>
      <h1>LOGO</h1>
      <ul>
        <li>Direccion</li>
        <li>Direccion</li>
        <li>Direccion</li>
      </ul>
    </div>

    <div>
      <h1>LOGO</h1>
      <ul>
        <li>Direccion</li>
        <li>Direccion</li>
        <li>Direccion</li>
      </ul>
    </div>
  </div>
</footer>
