<section id="menu" class="py-10 px-20 max-w-7xl mx-auto">
  <div class="text-center">
    <h2 class="hidden sm:block sm:text-xl sm:font-semibold">Descubre los sabores de la gastronomia casera</h2>
    <h1 class="text-3xl font-bold sm:text-4xl text-red-600 sm:font-semibold">Nuestro menu</h1>
  </div>
  <div class="flex flex-col sm:grid sm:grid-cols-4 sm:grid-rows-2 gap-4 max-w-6xl mx-auto p-4">
    <div class="relative col-span-1 row-span-2 transition-transform duration-300 ease-in-out hover:scale-105">
      <img src="/Cafe.webp" class="w-full h-full object-cover rounded-xl" />
      <span class="absolute inset-0 flex justify-center items-center">
        <a href="#cafeteria">
          <span class="bg-white px-4 py-2 rounded-md shadow-md text-black font-semibold hover:bg-red-600 hover:text-white">CAFETERIA</span></a
        >
      </span>
    </div>

    <div class="relative col-span-1 row-span-2 transition-transform duration-300 ease-in-out hover:scale-105">
      <img src="/Estofado.webp" class="w-full h-full object-cover rounded-xl" />
      <span class="absolute inset-0 flex justify-center items-center">
        <a href="#almuerzo"
          ><span class="bg-white px-4 py-2 rounded-md shadow-md text-black font-semibold hover:bg-red-600 hover:text-white">ALMUERZO</span></a
        >
      </span>
    </div>

    <div class="relative col-span-1 transition-transform duration-300 ease-in-out hover:scale-105">
      <img src="/Desayuno.webp" class="w-full h-full object-cover rounded-xl" />
      <span class="absolute inset-0 flex justify-center items-center">
        <a href="#desayuno"
          ><span class="bg-white px-4 py-2 rounded-md shadow-md text-black font-semibold hover:bg-red-600 hover:text-white">DESAYUNO</span></a
        >
      </span>
    </div>

    <div class="relative col-span-1 transition-transform duration-300 ease-in-out hover:scale-105">
      <img src="/Postres.webp" class="w-full h-full object-cover rounded-xl" />
      <span class="absolute inset-0 flex justify-center items-center">
        <a href="#postres"
          ><span class="bg-white px-4 py-2 rounded-md shadow-md text-black font-semibold hover:bg-red-600 hover:text-white">POSTRES</span></a
        >
      </span>
    </div>

    <div class="relative col-span-2 row-span-1 transition-transform duration-300 ease-in-out hover:scale-105">
      <a href=""><img src="/Sandwich.webp" class="w-full h-full object-cover rounded-xl" /></a>
      <span class="absolute inset-0 flex justify-center items-center">
        <a href="#cena"
          ><span class="bg-white px-4 py-2 rounded-md shadow-md text-black font-semibold hover:bg-red-600 hover:text-white">Merienda</span></a
        >
      </span>
    </div>
  </div>
</section>
