---
import Lista from "./SeccionLista.astro";
const { titulo, id } = Astro.props;
---

<section id={id} class="px-20 py-6 max-w-6xl mx-auto">
  <div class="text-center pb-5">
    <h1 class="text-4xl text-red-600 font-bold">{titulo}</h1>
  </div>
</section>
